<main class="products-container">
  <div class="title-container">
    <h1>Lista de notas fiscais</h1>
    <p class="subtitle">Relatório de todas notas fiscais emitidas.</p>
  </div>

  <div>
    <dx-data-grid
      [dataSource]="notas"
      [width]="'100%'"
      [height]="600"
      [showBorders]="true"
    >
      <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>
      <dxo-data-grid-header-filter [visible]="true"></dxo-data-grid-header-filter>
      <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
      <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
      <dxo-data-grid-editing
        mode="row"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="false"
      >
      </dxo-data-grid-editing>
      <dxo-data-grid-grouping [autoExpandAll]="false"></dxo-data-grid-grouping>
      <dxo-data-grid-master-detail
        [enabled]="true"
        template="detail"
      ></dxo-data-grid-master-detail>

      <dxi-data-grid-column
        dataField="numeroNotaFiscal"
        caption="Nº Nota">
      </dxi-data-grid-column>

      <dxi-data-grid-column
        dataField="data"
        dataType="date"
        caption="Data">
      </dxi-data-grid-column>

      <dxi-data-grid-column
        dataField="cliente.nome"
        caption="Cliente">
      </dxi-data-grid-column>

      <dxi-data-grid-column
        dataField="precoTotal"
        caption="Valor Total"
        dataType="number"
        format="currency">
      </dxi-data-grid-column>
    </dx-data-grid>
  </div>
</main>
